extends base

block content
    if errorMessage 
        span=errorMessage
    form(action="", method="POST")
        input(placeholder="Id", name="id", type="text", requireed)
        input(placeholder="password", name="password1", type="password", requireed)
        input(placeholder="check password", name="password2", type="password", requireed) 
        input(placeholder="userName", name="username", type="text", requireed)
        input(type="submit", value="join")